.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}


:global(.vtex-flex-layout-0-x-flexRowContent--blocoinfocardhome) {
  max-width: 938px;
  margin: auto;
}


.shippingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shippingContainer :global(.vtex-input__label) {
  display: none;
}

.shippingContainer :global(.vtex-address-form__postalCode-forgottenURL) {
  display: none;
}

.shippingContainer :global(.vtex-address-form__postalCode) {
  padding-bottom: 0px;
}

.shippingContainer :global(.vtex-button) {
  width: 70px;
  height: 37px;
  border: none;
  margin-top: 20px;
}
.shippingContainer :global(.vtex-input-prefix__group) {
  width: 368px;
  height: 37px;
}
.shippingContainer :global(.vtex-input__error ) {
  display: none;
}
.shippingTable{
  border: none;
}
.shippingContainer :global(.vtex-button__label) {
  font-size: 0px;
}

.shippingContainer :global(.vtex-button__label)::after {
  content: "CEP";
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.shippingContainer :global(.vtex-input__label){
  display: block !important;
}
.shippingTableCell{
  padding: 20px 0px;
  border: 1px solid #A3A3A3;
  border-left: none;
  border-right: none;
}
.shippingTableRow:not(:first-child) .shippingTableCell{
  border-top: none;
}